<%= erb :'partials/_topnav' %>

<div class="tab-content">
  <!-- Future content tab -->
  <%= erb :'partials/_mainContent' %>
  <%= erb :'partials/_accountContent' %>
  <%= erb :'partials/_socialContent' %>
  <%= erb :'partials/_futureContent' %>
</div> <!--tab-content-->


