
<%= erb :'partials/_topnav' %>

<div class="tab-content">
  <section id="listing_container" class="container tab-pane active">
    <div class="row">
      <aside class="actions">
        <ul class="subNav nav nav-tabs nav-stacked">
          <li class="active"><a href="#listings"><i class="icon-list"></i>Listings</a></li>
          <li><a href="#create"><i class="icon-pencil"></i>New listing</a></li>
          <li><a href="#direct"><i class="icon-gift"></i>Direct Payments</a></li>
        </ul>
      </aside>

      <div id="listing_content" class="inner-content">
        <div class="tab-content">
          <section id="listings" class="threefourth receipts receipt_view tab-pane active">
            <ul id="receiptList">
              <%= erb :'partials/_receipt' %>
            </ul>
          </section>

          <div class="details-container full active">
            <%= erb :'partials/_listingFilters' %>
          </div> 

          <section id="create" class="tab-pane" >
            <%= erb :'partials/_createListing' %>
          </section>

          <section id="direct" class="tab-pane">
            <%= erb :'partials/_directPayment' %>
          </section>
        
        </div>   
      </div>
    
    </div> <!--row-->
  </section>

  <section id="future_container" class="container tab-pane">
    <div class="row">
      <aside class="actions">
        <ul class="subNav nav nav-tabs nav-stacked">
          <li class="active"><a href="#future">...</a></li>
        </ul>
      </aside>

      <div id="listing_content" class="inner-content">
        <div class="tab-content">
          <section id="future" class="threefourth receipts receipt_view tab-pane active">
            Future content
          </section>
        
        </div>   
      </div>
    
    </div> <!--row-->
  </section>
</div> <!--tab-content-->


<script>


$('#mainTabs a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
});

$('.subNav a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');

  if($(this).attr('href') != '#listings') {
    $('.details-container').hide();
  }
  else {
    $('.details-container').show();
  }
})

$('#testModal').click(function (e) {
  e.preventDefault();
  $('#receiptModal').modal('show')
})

</script>